@import './config.scss';
.container{
  position: relative;
  width:1226px;
  margin-right:auto;
  margin-left:auto;
}
a {
  img {
    width: 100%;
    height: 100%;
  }
}
input {
  outline: none;
  box-sizing: border-box;
}
.fl {
  float: left
}
.fr {
  float: right
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.header-logo {
  // float: left;
  width: 55px;
  height: 55px;
  background-color: $colorA;
  a {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    &:before, &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background-size: contain;
      background-repeat: no-repeat;
      width: 55px;
      height: 55px;
      transition: all .2s;
      // z-index: 1;
    }
    &:before {
      background-image: url('../images/mi-logo.png');
    }
    &:after {
      background-image: url('../images/mi-home.png');
    }
    &:after {
      margin-left: -55px;
    }
    &:hover:before {
      transform: translate(55px);
    }
    &:hover:after {
      transform: translate(55px);
    }
  }
}
